body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover,
a:focus {
  color: #808080;
}

.timer-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  margin-right: 8px;
}

.timer-input:hover {
  border-color: #000;
}

.timer-input:active {
  border-color: #4e75ff;
}

.timer-btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.timer-btn:hover {
  background-color: #6c8cff;
  color: #fff;
}

.timer-btn:active {
  background-color: #4e75ff;
  color: #fff;
}

.timer {
  width: 346px;
  height: 72px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  margin-top: 32px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

.delay-input:hover {
  border-color: #000;
}

.delay-input:active {
  border-color: #4e75ff;
}

.delay-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

fieldset {
  width: 360px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  margin-top: 8px;
}

fieldset:hover,
fieldset:active {
  border-color: #000;
}

.state-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.snackbar-btn {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.snackbar-btn:hover {
  background-color: #6c8cff;
}
